/* * {
    border: 1px solid yellow;
}

footer {
    line-height: 2rem;
}

footer ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-position: inside;
}

footer ul li a {
    text-decoration: none;
    color: #E1F5FE;
    transition: .1s;
}

footer .link {
    color: white;
    background-color: #03A9F4;
}

footer .copyright {
    background-color: #01579B;
}

footer .copyright p {
    color: #ffffff;
    padding: 2rem;
}

footer .contact-icon {
    font-size: 1.25rem;
    padding-right: 1rem;
    color: #E1F5FE;
    transition: .1s;
}

footer .link a:hover {
    color: #FFD54F;
}

footer .link a i:hover {
    color: #FFD54F;
}

footer .contact ul li:hover > a.box-icon i {
    color: #FFD54F;
}

footer .contact ul li:hover > a.social-name {
    color: #FFD54F;
} */

footer {
    background-color: #03A9F4;
}

footer a {
    text-decoration: none;
    color: #E1F5FE;
    transition: .1s;
}

footer ul li a:hover {
    color: #FFD54F !important;
}

footer ul li a i {
    padding-right: 0.5rem;
}