.follow button {
    background-color: #03A9F4 !important;
    border-color: #03A9F4 !important;
}

.follow button:hover {
    color: #ffffff !important;
    border-color: #01579B !important;
    background-color: #01579B !important;
}

.nav-underline .nav-link.active{
    color: #03A9F4 !important;
}

.nav-link {
    color: black !important;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav button {
    margin: 0 5rem;
}

@media (max-width: 767px) {
    .penname {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .follow button.fb {
        margin-top: 1.5rem;
        width: 100%;
    }

    #nav-tab button {
        font-size: 0.5rem;
        width: 100%;
        padding: 1;
    }
}

table {
    font-size: 0.75rem;
}

