.user-p {
    background-color: #F7F7F7 !important;
    border-radius: 1rem;
} 

.addnovel-b {
    color: white;
    display: block;
    background-color: #03A9F4;
    border-radius: 1rem;
    padding: 0.5rem;
}

