.nav-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: white;
}

.nav-container-top ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin: 0rem;
}
.nav-container-bottom ul{
    list-style-type: none;
    display: flex;
    gap: 4rem;
    margin: 1.5rem;
}
nav a {
    text-decoration: none;
    color: white;
}

.nav-container-bottom li a:hover,.nav-container-bottom .arrow-down:hover,.nav-container-bottom ul li.nav-type{
    color: #01579b;
}

.logo-image{
    width: 100px;
    height: 60px;
}
.nav-top-icon{
    width: 2.25em;
}
.nav-container-bottom{
    display: flex;
    background-color: #03a9f4;
    justify-content: center;
    align-items: center;
}
.arrow-down{
    font-size: 1em;
    color: white;
}