.q-hot {
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.q-hot a {
    display: block;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    background-color: #F7F7F7;
    border-radius: 1rem;
}

h5.r-w {
    color: #01579B;
}