.top-up a {
    color: white !important;
    background-color: #03A9F4 !important;
    border-color: #03A9F4 !important;
}

.top-up a:hover {
    color: #ffffff !important;
    border-color: #01579B !important;
    background-color: #01579B !important;
}


.penname,
.all-pay {
    box-shadow: 0rem 0.25rem 0.25rem 0rem #888888;
}

@media (max-width: 767px) {
    .penname {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-up a.fb {
        margin-top: 1.5rem;
        width: 100%;
    }

    #nav-tab button {
        font-size: 0.5rem;
        width: 100%;
        padding: 1rem;
    }

    .all-pay {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
    }
}

.pay div {
    background-color: #f7f7f7;
    margin: 1rem 1.5rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0rem 0.25rem 0.25rem 0rem #888888; */
}
.pay div:hover{
    transform: scale(1.1);
    box-shadow: 0rem 0.25rem 0.25rem 0rem #888888
}

.pay img {
    width: 50%;
}

.all-pay p,
.all-pay span.pay div p,
.detial-pay div span,
.pay p {
    font-size: 1rem;
}

@media(min-width:768px) {
    .all-pay {
        background-color: #f7f7f7;

    }

    .detail-pay {
        border-left: 2px solid #d9d9d9;
    }

    /* .all-pay p,
    .all-pay span.pay div p,
    .detial-pay div span,
    .pay p {
        font-size: 1rem;
    } */
}