* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    font-size: 0.75rem;
}

select , option{
    font-size: 0.75rem;
}

#monthDropdown {
    font-size: 0.75rem;
}

#yearDropdown {
    font-size: 0.75rem;
}

p.card-text {
    font-size: 0.9rem;
}

.top-1, .top-2, .top-3 {
    position: relative;
}

.pin img{
    z-index: 99;
    position: absolute;
    width: 20%;
    right: 5%;
}

.top-chart-nav a{
    color: #FFD54F !important;
    font-weight: bold;
}