tfoot tr th,
tfoot tr td {
    background-color: #D9D9D9 !important;
}

@media (max-width: 767px) {
    table {
        font-size: 0.5rem;
    }
}

@media (min-width: 767px) {
    form {
        display: flex;
    }
}

@media (min-width: 992px) {
    form {
        display: flex;
    }
}