.col .card img {
    object-position: top;
    object-fit: cover;
    max-height: 20vh;
}

form {
    color: #737373;
}

form lable {
    font-weight: bold;
    color: #737373;
}

.card {
    background-color: #F7F7F7 !important;
}

@media (max-width: 767px) {
    form {
        display: none;
    }

    .card-img-top {
        min-height: 30vh;
    }
}

@media (min-width: 767px) {
    form {
        display: none;
    }
}

@media (min-width: 992px) {
    form {
        display: inherit;
    }

    .bs {
        display: none;
    }
}

.bs, .bs ul li, button{
    color: #737373;
}

.top-chart a{
    color: #FFD54F !important;
    font-weight: bold;
}