.btn-primary{
    background-color: #03a9f4;
    border-color: #03a9f4;
}
.btn-primary:hover{
    background-color: #01579B;
}
.connect a:hover,.connect:hover>i{
    color:  #03a9f4;
}
.connect a{
    color:  black;
}
form{
    background-color: #f7f7f7;
    box-shadow:0px 2px 4px 0px #737373;
    padding: 1em 2em;
    margin: 0 0 2em;
}
/* p.c2,div.c2{
    display: none;
} */

form label{
    text-align: end;
}
html{
    min-width: 300px;
}

@media screen and (max-width: 768px){
    form label{
        text-align: start;
    }
    .user-pictue {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
    .user-pictue img{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 576px) {
    .connect{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .c2{
        margin-left: 5.25em !important;
        margin-bottom: 1em !important;
    }
    
}